/.git/
# .gitignore

/jsBootDemo010Application/target/
/jsBootDemo010Application/nbactions.xml

/jsBootDemo020/target/
/jsBootDemo020/nbactions.xml

/jsBootDemo100InitFromSQLFiles/target/
/jsBootDemo100InitFromSQLFiles/nbactions.xml

/jsBootDemo110InitFromSQLFiles/target/
/jsBootDemo110InitFromSQLFiles/nbactions.xml

/jsBootDemo120EntityRelationship/target/
/jsBootDemo120EntityRelationship/nbactions.xml

/jsBootDemo140GeneratedID/target/
/jsBootDemo140GeneratedID/nbactions.xml

/jsBootDemo150GeneratedID/target/
/jsBootDemo150GeneratedID/nbactions.xml

/jsBootDemo200QueryMethods/target/
/jsBootDemo200QueryMethods/nbactions.xml

/jsBootDemo201QueryMethodsBiDir/target/
/jsBootDemo201QueryMethodsBiDir/nbactions.xml

/jsBootDemo300JavaRushSpringNotScare/target/
/jsBootDemo300JavaRushSpringNotScare/nbactions.xml

/jsBootDemo980MinExample/target/
/jsBootDemo980MinExample/nbactions.xml

/jsBootDemo990/target/
/jsBootDemo990/nbactions.xml

/jsHibernate/target/
/jsHibernate/nbactions.xml

/xFAILS/

/xSANDBOX/jsBootDemo201QueryMethodsBiDirBase/target/
/xSANDBOX/jsBootDemo301JavaRushSpringNotScare/target/
